@media screen and (max-width:768px){
    header { flex-direction:column; padding:20px; }
    nav ul { flex-direction:column; gap:10px; }
    .hero h1 { font-size:3rem; }
    .grid-proyectos { grid-template-columns:1fr 1fr; }
    .foto-texto { flex-direction:column; align-items:center; }
}

@media screen and (max-width:480px){
    .hero h1 { font-size:2.2rem; }
    .grid-proyectos { grid-template-columns:1fr; }
    .misiones { flex-direction:column; }
}
